<!-- line 1 -->
<div class="row">
	<div class="col-md-4">
		<div class="head-blue2">
			<%= link_to "更多>>", "#" %>
		</div>
		<div class="block clearfix">
			<div class="col-sm-12">
				<ul class="info-display">
					<li><a href="#">国务院关于调整和完善固定资产投资项目...</a></li>
					<li><a href="#">国务院办公厅关于推进分级诊疗制度建设...</a></li>
					<li><a href="#">国务院办公厅关于批准烟台市城市总体规...</a></li>
					<li><a href="#">国务院关于同意设立云南滇中新区的批复...</a></li>
					<li><a href="#">国务院办公厅关于加快融资租赁业发展的...</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="head-blue2">
			<%= link_to "更多>>", "#" %>
		</div>
		<div class="block clearfix">
			<div class="col-sm-12">
				<ul>
					<li><a href="#">第十期分布式能源培训（北京）</a></li>
					<li><a href="#">事业单位人事管理科学化、养老保险制度改...</a></li>
					<li><a href="#">关于举办政府与社会资本合作与PPP项目方...</a></li>
					<li><a href="#">关于举办事业单位人事管理科学化、养老保...</a></li>
					<li><a href="#">国家发改委培训中心举办行政事业单位财务..</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="head-blue2">
			<%= link_to "更多>>", "#" %>
		</div>
		<div class="block clearfix">
			<div class="col-md-12">
				<ul>
					<li><a href="#">第十期分布式能源培训（北京）</a></li>
					<li><a href="#">事业单位人事管理科学化、养老保险制度改...</a></li>
					<li><a href="#">关于举办政府与社会资本合作与PPP项目方...</a></li>
					<li><a href="#">关于举办事业单位人事管理科学化、养老保...</a></li>
					<li><a href="#">国家发改委培训中心举办行政事业单位财务...</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- line 2 -->
<div class="row">
	<div class="col-md-12">
		<div class="head-blue3">
			<div class="row">
				<div class="head-md col-xs-4 col-xs-offset-4"></div>
				<div class="head-r col-xs-4"><%= link_to "更多>>", "#" %></div>
			</div>
		</div>
		<div class="block clearfix">
			<div class="col-md-12">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				    <div class="item active">
					    <div class="col-md-offset-1 col-md-10">
					    	<div class="col-md-3 text-center">
						    	<%=image_tag"invest_project1.png"%>
						    	<p>项目投资项目投资</p>
				        	
			        	</div>
			        	<div class="col-md-3 text-center">
						    	 <%=image_tag"invest_project2.png", width:"80%"%>
						      <p>项目投资项目投资</p>
						    </div>
						    <div class="col-md-3 text-center">
						    	 <%=image_tag"invest_project3.png", width:"80%"%>
						      <p>项目投资项目投资</p>
						    </div>
						    <div class="col-md-3 text-center">
						    	 <%=image_tag"invest_project4.png", width:"80%"%>
						      <p>项目投资项目投资</p>
						    </div>		 
					    </div>    
				    </div>
				    <div class="item">
					    <div class="col-md-offset-1 col-md-10">
					    	<div class="col-md-3 text-center">
						    	<%=image_tag"invest_project1.png", width:"80%"%>
						    	<p>项目投资项目投资</p>
			        	</div>
			        	<div class="col-md-3 text-center">
						    	 <%=image_tag"invest_project2.png", width:"80%"%>
						      <p>项目投资项目投资</p>
						    </div>
						    <div class="col-md-3 text-center">
						    	 <%=image_tag"invest_project3.png", width:"80%"%>
						      <p>项目投资项目投资</p>
						    </div>
						    <div class="col-md-3 text-center">
						    	 <%=image_tag"invest_project4.png", width:"80%"%>
						      <p>项目投资项目投资</p>
						    </div>		 
					    </div>		     
				    </div>
				  </div>

				  <!-- Controls -->
				  <a class="left carousel-control my-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				  </a>
				  <a class="right carousel-control my-control" href="#carousel-example-generic" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- line 3 -->
<div class="row">
	<div class="col-md-4">
		<div class="head-blue">
			<span>icon</span> 在线课程<%= link_to "更多>>", "#" %>
		</div>
		<div class="block clearfix">
			<div class="col-md-12">
				<ul>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
				</ul>
			</div>在线课程</div>
	</div>
	<div class="col-md-4">
		<div class="head-blue">
			<span class="glyphicon glyphicon-heart"></span> 心里咨询<%= link_to "更多>>", "#" %>
		</div>
		<div class="block clearfix">
			<div class="col-md-12">
				<ul>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
				</ul>
			</div>心里咨询</div>
	</div>
	<div class="col-md-4">
		<div class="head-blue">
			<span>icon</span> 军友会<%= link_to "更多>>", "#" %>
		</div>
		<div class="block clearfix">
			<div class="col-md-12">
				<ul>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
				</ul>
			</div>军友会</div>
	</div>
</div>